*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

.header,
.timer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
